[submodule "node_modules/connect-assetmanager"]
	path = node_modules/connect-assetmanager
	url = http://github.com/mape/connect-assetmanager.git
[submodule "node_modules/connect-assetmanager-handlers"]
	path = node_modules/connect-assetmanager-handlers
	url = http://github.com/mape/connect-assetmanager-handlers.git
[submodule "node_modules/connect-gzip"]
	path = node_modules/connect-gzip
	url = https://github.com/nateps/connect-gzip.git
[submodule "node_modules/connect-redis"]
	path = node_modules/connect-redis
	url = https://github.com/visionmedia/connect-redis.git
[submodule "node_modules/everyAuth"]
	path = node_modules/everyAuth
	url = git://github.com/bnoguchi/everyauth.git
[submodule "node_modules/express"]
	path = node_modules/express
	url = https://github.com/visionmedia/express.git
[submodule "node_modules/http-proxy"]
	path = node_modules/http-proxy
	url = https://github.com/nodejitsu/node-http-proxy.git
[submodule "node_modules/jade"]
	path = node_modules/jade
	url = git://github.com/visionmedia/jade
[submodule "node_modules/mime"]
	path = node_modules/mime
	url = https://github.com/broofa/node-mime.git
[submodule "node_modules/nib"]
	path = node_modules/nib
	url = https://github.com/visionmedia/nib.git
[submodule "node_modules/redis"]
	path = node_modules/redis
	url = https://github.com/mranney/node_redis.git
[submodule "node_modules/stylus"]
	path = node_modules/stylus
	url = https://github.com/LearnBoost/stylus.git
[submodule "node_modules/validator"]
	path = node_modules/validator
	url = https://github.com/chriso/node-validator.git
[submodule "node_modules/crafity-core"]
	path = node_modules/crafity-core
	url = https://github.com/Crafity/crafity-core.git
[submodule "node_modules/crafity-filesystem"]
	path = node_modules/crafity-filesystem
	url = https://github.com/Crafity/crafity-filesystem.git
[submodule "node_modules/crafity-config"]
	path = node_modules/crafity-config
	url = https://github.com/Crafity/crafity-config.git
[submodule "node_modules/crafity-reources"]
	path = node_modules/crafity-reources
	url = https://github.com/Crafity/crafity-resources.git
[submodule "node_modules/crafity-logging"]
	path = node_modules/crafity-logging
	url = https://github.com/Crafity/crafity-logging.git
